* { 
    margin: 0;
    padding: 0;
}

body {
    background: #EFEFEF;
    font-family: 'Electrolize', sans-serif;
}

#wrapper {
    
    width: 1100px;
    margin: 0 auto;
    min-height: 300px;
}

#content-main {
    
    margin-top: 40px;
    /* float: left;
    width: 710px;*/
}

.w-500 {
    width: 500px;
    margin: 0 auto;
}
#content-main h1:first-of-type {
    border-top: none;   
}

#content-main h1 {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    background-color: #EFEFEF;
}

.box-body {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    -moz-box-shadow: 0 3px 4px #CCCCCC;
    -webkit-box-shadow: 0 3px 4px #CCCCCC;
    box-shadow: 0 3px 4px #CCCCCC;
}

.box-foot {
    font-size: 12px;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    padding: 3px;
    text-align: right;
}

.content {
    padding: 20px;
    overflow: hidden;
}

p {
    border-bottom: 1px dashed #CCCCCC;
    padding: 8px;
}

p:last-of-type {
    border-bottom-width: 0;
}

#content-main:last-of-type {
    margin-bottom: 40px;   
}

#footer {
    clear: both;
    color: #999999;
    padding: 10px 2px 30px;
    text-align: right;
}